@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Orders.Models.Order

@{
    ViewData["Title"] = @Localizer["Details"];
}



<div class="col-11 mx-auto pt-0 p-0" >
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height: 45px;">
            <h4>@Localizer["Edit Order"]</h4>
        </div>

        
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label">@Localizer["Number"]</label>
                    <input  asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">@Localizer["Date"]</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupplierId" class="control-label">@Localizer["SupplierId"]</label>
                    <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                </div>
                <div style="text-align: center;"><h2>@Localizer["Order Items:"]</h2></div>
                <div class="col-md-12" >
                    <table id="ItemsTable" class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th style="text-align: center;">
                                    @Localizer["Name"]
                                </th>
                                <th style="text-align: center;">
                                    @Localizer["Quantity"]
                                </th>
                                <th style="text-align: center;">
                                    @Localizer["Unit"]
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.OrderItems.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.OrderItems[i].Id, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
                                                 "form-control"
                                                }
                                            })
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m.OrderItems[i].Name, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
                                                 "form-control"
                                                }
                                            })
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m.OrderItems[i].Quantity, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
                                                 "form-control"
                                                }
                                            })
                                    </td>
                                    <td>
                                        @Html.EditorFor(m => m.OrderItems[i].Unit, new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class =
                                                 "form-control"
                                                }
                                            })

                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                <div class="col-12 btn-group" style="text-align: center;">
                    <div class="col-6 form-group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">@Localizer["Index"]</a>
                    </div>
                </div>


                <input type="hidden" id="hdnLastIndex" value=@Model.OrderItems.Count>




            </div>

        
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script type="text/javascript">

$(document).ready(function () {
        // Disable all text inputs on the page
        $('input[type="text"]').prop('readonly', true);
        $('input[type="datetime-local"]').prop('readonly', true);
        $('select').prop('disabled', true);
    });


    
</script>
}
