@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Orders.Models.Order>

@{
    ViewData["Title"] = "Index";
}


<h1>@Localizer["Orders"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Create New</a>
</p>
<div class="container mt-4" style="border: 2px solid #000000; padding: 10px;">
    <h2>Filters</h2>
    <form action="@Url.Action("Index", "Orders")" method="get" id="filterForm" onsubmit="submitForm(event)">
        <div class="form-group">
            <label for="orderNumbers">Order Number:</label>
            <select id="orderNumbers" name="selectedOrderNumbers" class="form-control" multiple="multiple">
            </select>


            <label for="selectedSuppliers">Suppliers:</label>
            <select id="selectedSuppliers" name="selectedSupplierIds" class="form-control" multiple="multiple">
                @foreach (var supplier in (List<Supplier>)ViewData["Suppliers"])
                {
                    <option value="@supplier.Id">@supplier.Name</option>
                }
            </select>

            <label for="orderItems">Order Items:</label>
            <select id="orderItems" name="selectedOrderItemIds" class="form-control" multiple="multiple">
            </select>
            <p></p>
            <div class="row mb-3">
                <label for="toDate" class="col-sm-2 col-form-label">To Date:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="toDate" name="toDate"
                        value="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>

                <label for="fromDate" class="col-sm-2 col-form-label">From Date:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="fromDate" name="fromDate"
                        value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")">
                </div>
            </div>

        </div>
        <p></p>
        <div class="form-group">
            <input type="hidden" id="hiddenFromDate" name="hiddenFromDate" /> 
            <input type="hidden" id="hiddenToDate" name="hiddenToDate" />
            <input type="submit" value="Apply Filter" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParm"]">@Html.DisplayNameFor(model =>
                    model.Number)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model =>
                    model.Date)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#orderNumbers').select2({
                ajax: {
                    url: '@Url.Action("GetOrderNumbers", "Orders")',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (order) {
                                return {
                                    id: order.id,
                                    text: order.number
                                };
                            })
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1 // Minimum characters before making an AJAX call
            });

            $('#orderItems').select2({
                ajax: {
                    url: '@Url.Action("GetOrderItems", "Orders")',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (orderItem) {
                                return {
                                    id: orderItem.name,
                                    text: orderItem.name
                                };
                            })
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1 // Minimum characters before making an AJAX call
            });

            $('#selectedSuppliers').select2();
        });

        function submitForm(event) {
        // Prevent the default form submission
        event.preventDefault();

        // Get the values from date inputs
        var startDateValue = document.getElementById('fromDate').value;
        var endDateValue = document.getElementById('toDate').value;

        // Set the values to hidden inputs
        document.getElementById('hiddenFromDate').value = startDateValue;
        document.getElementById('hiddenToDate').value = endDateValue;

        // Continue submitting the form
        document.getElementById('filterForm').submit();
    }

        @* $(function () {
        $("#orderNumbers").autocomplete({
        source: function (request, response) {
        console.log('im here');
        $.ajax({
        url: '@Url.Action("GetAutocompleteValues", "Orders")',
        type: "GET",
        data: { term: request.term },
        success: function (data) {
        response(data);
        }
        });
        },
        minLength: 1,
        multiple: true, // Enable multiple selection
        select: function (event, ui) {
        var terms = $("#orderNumbers").val().split(", ");
        terms.pop();
        terms.push(ui.item.value);
        terms.push("");
        $("#orderNumbers").val(terms.join(", "));

        // Set the hidden input value with selected order numbers
        $("#selectedOrderNumbers").val(terms.join(", "));
        return false;
        }
        });

        // Handle form submission to prevent duplicate values in the hidden input
        $("#filterForm").submit(function () {
        var terms = $("#orderNumbers").val().split(", ");
        terms.pop();
        $("#selectedOrderNumbers").val(terms.join(", "));
        return true;
        });
        }); *@

        @* $(document).ready(function () {
        $('#selectedSuppliers').select2({
        ajax: {
        url: '@Url.Action("GetSuppliers", "Orders")',
        dataType: 'json',
        delay: 250,
        processResults: function (data) {
        return {
        results: $.map(data, function (supplier) {
        return {
        id: supplier.id,
        text: supplier.name
        };
        })
        };
        },
        cache: true
        },
        minimumInputLength: 1 // Minimum characters before making an AJAX call
        });


        }); *@


    </script>

}